<header class='main-header'>
  <nav class='main-header__nav'>
    <ul class='main-header__item-list'>
      <li class='main-header__item'><a href='/'>Home</a></li>
      <li class='main-header__item'>
        <a href='/admin/product-create'>Product Create</a>
      </li>
    </ul>
  </nav>
</header>

<h3>Page not found</h3>