<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/navigation.ejs') %>

<h3>Something went wrong!</h3>
<p>Sorry for that we are working on that</p>
<%- include('includes/end.ejs') %>